@mixin margin-left($value) {
  margin-left: $value;
}

@mixin margin-right($value: 20px) {
  margin-right: $value;
}
@mixin margin-top($value: 60px) {
  margin-top: $value;
}

@mixin horizontal-margin($left, $right) {
  @include margin-left($left);
  @include margin-right($right);
}

@mixin size($heigh, $width) {
  height: $heigh;
  width: $width;
}
