@import "variables";
@import "expansion";

.button {
  background-color: $color-blue;
  text-transform: uppercase;
  color: $color-white;
  border: none;

  font-size: 21px;
  font-weight: 700;
  height: 55px;
  max-width: 450px;
  outline: none;
  width: 100%;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button:disabled {
  background-color: #e5e5e5;
}
