@import "variables";
@import "expansion";

.feedback {
  @include flex-around;

  width: 100%;
  height: 120px;

  &__tag {
    font-family: $font-main;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__social {
    display: inline-flex;
    justify-content: space-between;
  }

  &__author {
    @include flex;

    text-decoration: none;
    color: $color-black;
  }

  @include media-mobile {
    flex-direction: column;
    padding: 40px 0 25px;
    height: auto;

    &__social {
      margin: 40px 0;
    }
  }
}
