@import "variables";
@import "expansion";

@mixin item-position($icon-size, $icon-gutter, $margin-left) {
  margin-left: $margin-left;
  text-align: left;
  width: calc(100% - #{$icon-size} - #{$icon-gutter});
}

.item {
  @include flex-column;

  &__img {
    width: 75px;
    height: 72px;
  }

  &__title {
    color: $color-black;

    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    max-width: 30%;
  }

  &__description,
  &__number {
    color: $color-black;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    max-width: 70%;
  }

  &__description--margin {
    margin-top: 15px;
  }

  @include media-mobile {
    $parent: &;

    flex-direction: column;

    &__title,
    &__description,
    &__number {
      max-width: none;
    }

    &__title {
      font-size: 21px;
    }

    &__description,
    &__numbe {
      font-size: 14px;
    }

    &--border {
      border-bottom: 1px solid #d6d6d6;
    }

    &--column {
      $icon-size: 35px;
      $icon-gutter: 15px;

      flex-wrap: wrap;
      flex-direction: row;

      #{$parent}__img {
        height: $icon-size;
        width: $icon-size;
      }

      #{$parent}__title {
        @include item-position($icon-size, $icon-gutter, $icon-gutter);
      }

      #{$parent}__description {
        @include item-position($icon-size, $icon-gutter, auto);
      }
    }
  }
}
