@import "variables";
@import "expansion";

.media-object {
  &__description {
    @include flex-column;

    background-color: $color-blue;
    line-height: 1.5;
  }

  &__img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: $mobile-width) {
  .media-object {
    flex-direction: column;

    &__description {
      clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    &__img img {
      height: 260px;
    }
  }

  .wild-object {
    display: flex;
    flex-direction: column-reverse;
  }
}
