@import "variables";
@import "expansion";

.reserve {
  @include flex-column;

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title-sup {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
  }

  &__button {
    margin-top: 55px;
  }

  @include media-mobile {
    padding: 0 15px;

    &__title {
      font-size: 21px;
    }

    &__title-sup {
      margin-top: 30px;
      font-size: 14px;
    }
  }
}
