@import "variables";
@import "expansion";

.welcome {
  &__title {
    color: $color-blue;
    font-family: $font-title;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__subtitle {
    color: $color-brown;
    font-family: $font-description;
    font-weight: 400;
    font-size: 40px;
  }
}

@media screen and (max-width: $mobile-width) {
  .welcome {
    margin: 25px;

    &__title {
      font-size: 40px;
      text-shadow: #000 1px 2px 2px;
    }

    &__subtitle {
      font-size: 20px;

      margin-top: 10px;
    }
  }
}
