@import "variables";

$bcg-color-hover: #669ec0;
$bcg-color-active: #5496bd;
$bcg-color-disabled: #e5e5e5;

$color-active: #88b6d1;

.button {
  background-color: $color-blue;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  font-size: $fs-main;
  font-weight: 700;
  height: 55px;
  max-width: 450px;
  outline: none;
  width: 100%;

  &:hover {
    background-color: $bcg-color-hover;
  }

  &:active {
    background-color: $bcg-color-active;
    color: $color-active;
  }

  &:disabled {
    background-color: $bcg-color-disabled;
  }
}
