@import "variables";
@import "expansion";

.footer {
  &__reserve {
    margin: 55px 0;
  }

  @include media-mobile {
    &__title-main {
      font-size: $fs-main;
    }

    &__title-sup {
    }
  }
}
