@import "variables";
@import "expansion";

.header {
  background: url("../images/header-background.jpg") 0 0 no-repeat;
  clip-path: polygon(50% 69%, 100% 60%, 100% 0, 0 0, 0 60%);
  background-size: contain;
  height: 100%;

  &__logo {
    @extend %flex-center;
  }

  &__welcome {
    @extend %flex-column;

    margin-top: $martop;
  }

  &__sedona {
    @extend %flex-column;
  }
}
