@import "variables";
@import "expansion";

.header {
  display: flex;
  flex-direction: column;

  background: url("../images/header-background.jpg") center bottom no-repeat;
  background-size: cover;
  height: 100vh;

  &__logo {
    @include flex-center;
  }

  &__wrapper {
    @include flex-column;

    flex-grow: 1;
    justify-content: flex-start;
  }

  &__welcome {
    @include flex-column;

    margin-top: 20px;
  }

  &__sedona {
    @include flex-column;

    display: flex;
    margin: auto;
  }

  @include media-mobile {
    height: 85vh;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  }
}
