@import "variables";
@import "expansion";

.item {
  &__title {
    color: $color-black;
    font-family: $font-main;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
  }

  &__description {
    color: $color-black;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    max-width: 70%;
  }
}
