@import "expansion";
@import "variables";
@import "media-object";
@import "item";

.main {
  &__title {
    @include flex-column;

    width: 50%;
    margin: 0 auto;

    .title {
      color: $color-black;

      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      max-width: 70%;
      margin-top: 110px;
    }

    .description {
      color: $color-black;

      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      margin-top: 40px;
    }
  }

  .media-object {
    display: flex;
    margin-top: 60px;
  }

  .wild__object {
    margin-top: 0;
  }

  @include media-mobile {
    &__title {
      margin: 50px 0;
      width: 100%;

      .title {
        font-size: 18px;
        margin-top: 0;
        max-width: 100%;
      }

      .description {
        font-size: 14px;
        max-width: 70%;
      }
    }
  }
}
