@import "expansion";
@import "variables";
@import "media-object";
@import "item";

.main {
  &__title {
    @extend %flex-column;

    width: 50%;
    margin: 0 auto;

    .title {
      color: $color-black;
      font-family: $font-main;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      max-width: 70%;
      margin-top: 110px;
    }

    .description {
      color: $color-black;
      font-family: $font-main;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 40px;
    }
  }

  .media-object {
    display: flex;
    margin-top: 60px;
  }

  .wild__object {
    margin-top: 0;
  }

  .list {
    display: flex;

    &__item {
      @extend %flex-column;

      flex-grow: 1;
      justify-content: space-around;
      line-height: 1.5;
      margin: 35px 0 60px 0;
    }
  }
  .list__wild {
    background-color: #eeeeee;
  }
}
