@import "variables";
@import "expansion";

.media-object {
  &__description {
    @extend %flex-column;

    background-color: $color-blue;
    line-height: 1.5;

    .card__title {
      color: $color-white;
      font-family: $font-main;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding-top: 35px;
      max-width: 50%;
    }

    .card__number,
    .card__description {
      color: $color-white;
      font-family: $font-main;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    .card__description {
      max-width: 70%;
      padding-bottom: 50px;
    }

    .card__description-width {
      max-width: 55%;
    }
  }

  &__img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}
