@import "variables";
@import "expansion";

.reserve {
  @include flex-column;

  $fs-title-reserve: 30px;

  &__title {
    font-size: $fs-title-reserve;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title-sup {
    font-size: $fs-description;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
  }

  &__button {
    margin-top: 55px;
  }

  @include media-mobile {
    padding: 0 15px;

    &__title {
      font-size: $fs-main;
    }

    &__title-sup {
      margin-top: 30px;
      font-size: $fs-description;
    }
  }
}
