@import "variables";
@import "expansion";

.sedona {
  transform: translateY(-50%);

  &__title {
    @extend %flex-center;

    color: $color-white;
    font-family: $font-title;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  &__subtitle {
    @extend %flex-center;

    color: $color-white;
    font-family: $font-description;
    font-weight: 400;
    font-size: 40px;
    margin-top: $martops;
    text-align: center;
  }
}
