@import "variables";
@import "expansion";

$fs-title: 125px;
$fs-sub: 40px;
$fs-title-mobile: 70px;
$fs-sub-mobile: 25px;

.sedona {
  transform: translateY(-50%);
  justify-content: center;

  &__title {
    @include flex-center;

    color: $color-white;
    font-family: $font-title;
    font-size: $fs-title;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  &__subtitle {
    @include flex-center;

    color: $color-white;
    font-family: $font-description;
    font-weight: 400;
    font-size: $fs-sub;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: $mobile-width) {
  .sedona {
    transform: none;
    margin-top: 30px;

    &__title {
      font-size: $fs-title-mobile;
    }

    &__subtitle {
      font-size: $fs-sub-mobile;
      margin-top: 35px;
    }
  }
}
