@import "variables";
@import "expansion";

.sedona {
  transform: translateY(-50%);

  &__title {
    @extend %flex-center;

    color: $color-white;
    font-family: $font-title;
    font-size: 125px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  &__subtitle {
    @extend %flex-center;

    color: $color-white;
    font-family: $font-description;
    font-weight: 400;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .sedona {
    transform: none;
    margin-top: 30px;

    &__title {
      font-size: 70px;
    }

    &__subtitle {
      font-size: 25px;
      margin-top: 35px;
    }
  }
}
