$color-blue: #81b3d2;
$color-white: #fff;
$color-brown: #766357;
$color-black: #000;

$font-main: "PT Sans", sans-serif;
$font-title: "Anton", sans-serif;
$font-description: "Galada", cursive;

$martop: 20px;
$martops: 60px;
