$color-blue: #81b3d2;
$color-white: #fff;
$color-brown: #766357;
$color-black: #000;
$color-grey: #eee;

$font-main: "Open Sans", sans-serif;
$font-title: "Anton", sans-serif;
$font-description: "Galada", cursive;

$fs-main: 21px;
$fs-description: 14px;

$mobile-width: 576px;
$tablet-width: 768px;
