@import "variables";

$fs-title: 60px;
$fs-sub: 40px;
$fs-title-mobile: 40px;
$fs-sub-mobile: 30px;

.welcome {
  &__title {
    color: $color-blue;
    font-family: $font-title;
    font-weight: 400;
    font-size: $fs-title;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__subtitle {
    color: $color-brown;
    font-family: $font-description;
    font-weight: 400;
    font-size: $fs-sub;
  }
}

@include media-mobile {
  .welcome {
    margin: 25px;

    &__title {
      font-size: $fs-title-mobile;
      text-shadow: $color-black 1px 2px 2px;
    }

    &__subtitle {
      font-size: $fs-sub-mobile;
    }
  }
}
