@import "variables";
@import "expansion";

.welcome {
  &__title {
    color: $color-blue;
    font-family: $font-t;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__subtitle {
    color: $color-brown;
    font-family: $font-d;
    font-weight: 400;
    font-size: 40px;
  }
}
