$font-eu: "Euphoria Script", cursive;
$font-sans: "PT Sans", sans-serif;
$color-main: #81b3d2;
$color-ff: #fff;

@mixin title($color, $font, $size, $weight) {
  text-transform: uppercase;
  color: $color;
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}
@mixin margin-top($value: 60px) {
  margin-top: $value;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url("/src/blocks/header/img/bcg-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo,
.header__welcome,
.motto {
  @extend %flex-center;
}

.welcome {
  @include title($color-main, $font-sans, 40px, 700);
  @include margin-top();
}
